<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtEx</title>
    <link rel="icon" href="{% static 'main/img/LogoWithOutText.png' %}">
    <link rel="stylesheet" href="{% static 'main/css/styling.css' %}">
</head>
<body >
    <div class="fullWindow">
        <div class="topWindow">
            <div class="leftMenu">
                <div class="container">
                    <div class="generalPage">
                        <a class="logoLink" href="">
                            <img style="width: 50px;" src="{% static 'main/img/LogoWithOutText.png' %}" alt="ArtEx">
                            <span class="fontStyleLogo menuFont" style="font-size: 40px; margin-left: 6px; color: azure;">ArtEx</span>
                        </a>
                    </div>
                    <div class="leftMenuAttributes">
                        <div class="searchPaint menuItem">
                            <a class="link" href="">
                                 <!--Изменить ссылку-->
                                <span class="fontStyleSearch menuFont" style="font-size: 20px; margin-left: 6px; color: azure;">Поиск картин</span>
                            </a>
                        </div>
                        <div class="popularPaint menuItem">
                            <a class="link" href="">
                                 <!--Изменить ссылку-->
                                <span class="fontStylePop menuFont" style="font-size: 20px; margin-left: 6px; color: azure;">Популярное</span>
                            </a>
                        </div>
                        <div class="categories menuItem">
                            <a class="link" href="">
                                <!--Изменить ссылку-->
                                <span class="fontStyleCateg menuFont" style="font-size: 20px; margin-left: 6px; color: azure;">Категории</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">  
                <div class="mainActivity" style="display: flex; flex-direction: column;">
                </div>
                <div class="rightMenu">
                    <div class="container">
                        <div class="profilePage">
                            <a class="profileLink" href="">
                                <img style="width: 40px;" src="{% static 'main/img/UnknownLogo.png' %}" alt="User image">
                                <span class="fontStyleProfile menuFont" style="font-size: 30px; margin-left: 6px; color: azure;">defaultUser</span>
                            </a>
                        </div>
                        <div class="rightMenuAttributes">
                            <div class="mark menuItem">
                                <a class="link" href="">
                                     <!--Изменить ссылку-->
                                    <span class="fontStyleMark menuFont" style="font-size: 20px; margin-left: 6px; color: azure;">Закладки</span>
                                </a>
                            </div>
                            <div class="purchHistory menuItem">
                                <a class="link" href="">
                                     <!--Изменить ссылку-->
                                    <span class="fontStyleHistory menuFont" style="font-size: 20px; margin-left: 6px; color: azure;">История покупок</span>
                                </a>
                            </div>
                            <div class="shoppingCart menuItem">
                                <a class="link" href="">
                                    <!--Изменить ссылку-->
                                    <span class="fontStyleCart menuFont" style="font-size: 20px; margin-left: 6px; color: azure;">Корзина</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footerBar">
                <span class="copyrightsBlock">
                    <h3>&copy; 2024 ArtEx | All rights reserved</h3>
                </span>
                <span class="feedBackBlock">
                    <h3><a class="contact" href="https://t.me/reediklox">Contact us</a></h3>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>